.container {
  background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
}

body {
  background: linear-gradient(to left, #3a1c71, #d76d77, #ffaf7b);
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  padding-left: 15px;
}

header {
  background: linear-gradient(to top, #ffffcc 23%, #ff99cc 62%);
}

.sidebar {
  background: linear-gradient(to top, #ffffcc 23%, #ff99cc 62%);
}

ol {
  padding: 0px;
  font-size: 10px;
}

ol li {
  list-style-type: armenian;
  font-weight: bold;
}

.checkout {
  color: purple;
}

.imagesTop {
  display: flex;
}

.colorImage img{
  padding-top: 125%;
  padding-right: 75%;
  max-width: 300%;
  border-radius: 30%;
}

.portrait img {
  text-align: center;
  border-radius: 30%;
  max-width: 89%;
  height: auto;
  padding-bottom: 10px;
  padding-left: 20%;
  padding-right: 10%;
}

div.projects{
  background: linear-gradient(to bottom, #ffffcc 23%, #ff99cc 62%)
}

div.aboutMe {
  background: linear-gradient(to top, #ffffcc 23%, #ff99cc 62%)
}

.p1 img {
  padding: 10px;
  float: left;
  max-width: 10%;
}

.p2 img {
  padding: 10px;
  float: right;
  max-width: 20%;
}

.p2 {
  padding-bottom: 10px;
}
p.sidebarP{
  text-align: center;
  display: inline-block;
}
